.topnav {
  background-color:grey;
  overflow:hidden;
 }
  .topnav a{
    float: left;
   color:#f2f2f2;
     text-align:center;
     padding:14px 16px;
     text-decoration:none;
     fontsize:17px;
     }
     .topnav a:hover{
      background-color:#ddd;
      color:white;
     }
     .topnav a.active{
     background-color:#04AA6D;
     color:white;
     }